[2018-07-20 16:16] ImFlog opened #1 "Task to register schemas"
Add a task responsible of pushing a schema for a given subject.

[2018-07-20 16:18] ImFlog opened #2 "Task to test compatibility between schemas"
Add a task for schema compatibility.

[2018-07-24 17:17] #1 closed

[2018-07-24 17:18] ImFlog opened #4 "Add integration tests"
Do real test upon a schema registry.
To do so, we could use testcontainers to spin up a real registry where we could push schema and do better validation.

[2018-07-25 17:27] brunobrossi opened #6 "Not taking different configuration values"
Hi,

I tried to use changing the standard config, but its not reading my values and always going to the same config (localhost:8081 and src/main/avro).

[code]

[2018-07-25 17:38] ImFlog commented on #6
Hello,

Can you share your build.gradle so I investigate further ?

Le mer. 25 juil. 2018 19:27, Bruno Benevento <notifications@github.com> a
écrit :

[2018-07-26 08:33] #2 closed

[2018-07-26 09:09] brunobrossi commented on #6
Hi @ImFlog

[code]

If I create a schema-registry localhost, it works, but still does not put in the folder I want. If I change the URL to somethung different than localhost, it does not work.

[2018-07-26 13:01] #6 closed

[2018-07-26 13:02] ImFlog commented on #6
I just pushed the fix.
This should be good in 0.3.0.

[2018-07-26 13:19] #4 closed

[2018-08-08 07:59] ImFlog opened #8 "Version compatibility"
There is no breaking change (for now) in the schema-registry libraries.
It could be useful to:
- show the compatibility matrix in the README
- even better, let the version be defined by the end user

[2018-08-08 08:01] ImFlog opened #9 "Standardize DSL"
Change the Download extension to match the other ones.
Then we could refactor extensions (merge them into one).

[2018-08-08 08:03] ImFlog opened #10 "Move to Junit 5"
Because why not ?

[2018-08-10 08:32] #9 closed

[2018-08-16 13:37] ImFlog opened #12 "Handle dependencies between avsc files for register"
When we register new schemas, sometimes they refer to other schemas.
Typical example is for a user record that can contain an address record for example.
A potential implementation is available here : https://github.com/ImFlog/schema-registry-plugin/pull/11

[2018-08-31 12:48] #10 closed

[2018-09-05 11:56] #12 closed

[2018-09-05 12:11] ImFlog opened #14 "IDL file support"
Check if the idl format is supported, if not, support it.

[2018-10-21 02:55] trthompson-clgx opened #15 "Support for io.confluent:avro-serializer:4.1.0"
The plugin won't work with avro-serializer:4.1.0 because it uses avro-serializer:3.2.1.  How can I use this plugin with avro-serializer:4.1.0?

[2018-10-21 15:41] ImFlog commented on #15
Hello,
You can do something like this to customize the used version :
[code]

If you call `:buildEnvironment` you should see that the right version is used :
[code]

[2018-11-02 08:16] ImFlog commented on #15
Closing this as fix should work.
Feel free to comment if you still have trouble @trthompsom-clgx

[2018-11-02 08:16] #15 closed

[2018-11-06 21:27] cgraving opened #18 "Plugin doesn't support proxy settings"
I am trying to use the plugin to register schema, but seem to be having issues that the gradle plugin doesn't seem to honor or pass the proxy information to the client. I have tried every form of setting the proxy, command line args, env variables, gradle.properties, etc, but none are being used when the call is made through the CachedSchemaRegsitryClient from the maven plugin.

[2018-11-24 14:26] #18 closed, assigned to nobody

[2019-03-03 19:51] gvishnutej opened #20 "Add support for basic authentication"
The confluent maven plugin supports basic auth https://github.com/confluentinc/schema-registry/pull/907, update plugin to support the same.

[2019-03-20 15:57] AmalVR opened #21 "Schema Register fails with error Unexpected character ('<' (code 60)"
Hi Florian,

I am trying to use "com.github.imflog.kafka-schema-registry-gradle-plugin", for pushing my schemas to my local schema registry, and I am getting "502"  with the below error at the client side.

I suspect this to be some encoding issue during serialization, though I am not sure about this.

If you had encountered a similar issue, or if you are aware of this problem, kindly help me.

[c

[2019-03-20 17:03] ImFlog commented on #21
Hi,
Thank you for the interest in this plugin.
Have you seen this issue : https://github.com/ImFlog/schema-registry-plugin/issues/15
Right now (but will soon change) we are on version : `implementation("io.confluent", "kafka-avro-serializer", "3.2.1")`

Try to override the version to see if it works better.

[2019-03-21 10:25] AmalVR commented on #21
Hi,
The project I have created only contains Avro schemas, as you can see in the gradle configuration I haven't included any dependencies for avro serialization and I expect the plugin is working with its own dependencies and hence as in the case of  [ #15](https://github.com/ImFlog/schema-registry-plugin/issues/15)  we cannot say it is related to version compatibility. But it is obvious there is

[2019-03-24 21:22] ImFlog commented on #21
That's strange, I just tried on my machine with your configuration and It worked.
You may have a bad character in your schema file (that's what the error seems to tell). Can you verify you use UTF-8 and that there is no hidden char in it ? If you have Windows Linux Subsystem you can do a `cat -v mysample.avsc` to spot hidden chars.

If this don't work, can you tell me how you launch the schema-reg

[2019-03-25 06:37] AmalVR commented on #21
I verified the file, we are using UTF-8 and I couldnt see any hidden character using cat -v

We are using K8 in Windows 10 with the below YAML to start the schema-registry.
[code]

[2019-03-26 14:31] ImFlog commented on #21
Searching a bit on confluent registry, I found this : https://github.com/confluentinc/schema-registry/issues/733. Made me realize that you may have an error on server side but not correctly output on the client side.

Can you check the logs of your application running the schema-registry ? Do not hesitate to enable debug to have more data.

[2019-04-11 11:28] ImFlog commented on #20
Fixed by #19 :) Please comment here if anything is not working as expected.

[2019-04-11 11:28] #20 closed

[2019-04-11 11:32] ImFlog commented on #21
@AmalVR Did you manage to fetch logs on the container side ?

[2019-04-12 07:23] AmalVR commented on #21
Yes I do, please find below
. /etc/confluent/docker/mesos-setup.sh
+ . /etc/confluent/docker/mesos-setup.sh
#!/usr/bin/env bash

set +o nounset
++ set +o nounset

if [ -z $SKIP_MESOS_AUTO_SETUP ]; then
    if [ -n $MESOS_SANDBOX ] && [ -e $MESOS_SANDBOX/.ssl/scheduler.crt ] && [ -e $MESOS_SANDBOX/.ssl/scheduler.key ]; then
        echo "Entering Mesos auto setup for Java SSL truststore. You should

[2019-04-12 07:31] ImFlog commented on #21
It seems that your logs are only for boot time.

Can you try to register the schema and give the line following this one ?

Overall, I think that it's a windows related issue but I would like it to work on every OS :)

[2019-04-17 23:12] ashinohara opened #22 "Schema compatibility for non-existent subject"
I would like to be able to have a CI pipeline for our avro schemas.  The steps would be:
- Check compatibility for all avro schemas
- Register all schemas

Compatibility check fails when a subject does not exist already in the schema registry.  The error code that gets returned is:

`> io.confluent.kafka.schemaregistry.client.rest.exceptions.RestClientException: Subject not found.; error code: 404

[2019-04-19 11:28] ImFlog commented on #22
From my POV it seems fair to consider a new schema as compatible with the non existing version.
Problem is that I would have to catch the restclient exceptions and parse manually the content (as it's not a structured object) and this could be error prone in the future.
I will take a look at the client code to see if something cleaner is possible.

[2019-04-25 10:06] 9yx opened #23 "schemaRegistry.url cache"
I use gradle 5.3.1, schema-registry-plugin 0.5.0, if I change the schemaRegistry.url, then the url address does not change until I turn off the cache in gradle
./gradlew registerSchemaTask --no-build-cache

[2019-04-26 10:07] ImFlog commented on #23
Hello, thank you for your interest in this plugin.
It indeed looks like a bug, I recently made a lot of change around the way we handle the client wrapper and looking at the code the url is marked as `@Input` so it should not be cached.

I am planning a release next week (probably around wednesday) after a bit more refactoring, I will ping you afterward and see if it still fails on your side. :)

[2019-05-01 17:57] ImFlog commented on #21
@AmalVR can you give an update on this ? Have you been able to fetch the logs when the call is made ?
We already understood that this is a windows related error so i'm not able to reproduce this.
Without news from you in the next days I will close this task.
Thank you :)

[2019-05-01 18:47] #22 closed

[2019-05-01 19:11] ImFlog commented on #23
I successfully reproduced the bug locally with the old version. With the new version the problem doesn't appear. The version 0.6.0 is now awaiting approval.
Please test it when available and tell me if I can close this issue ;)

[2019-05-01 19:13] ImFlog commented on #22
I added the requested feature in the version 0.6.0.
It is awaiting approval on the plugin portal. When available you should be able to use it as you wanted to.
Please do not hesitate to create a new issue if something goes wrong ;)

[2019-05-01 19:14] #8 closed

[2019-05-01 21:51] ashinohara commented on #22
Fantastic, thank you!

[2019-05-02 08:42] AmalVR commented on #21
@ImFlog, In fact, I tried to collect the logs after trying to register the schema, however, I couldn't find any logs useful after I tried registering the schema.
It seems like the call is not reaching the server and is breaking at the client side while processing the request.
I suspect some problem happening while JSON( RegisterSchemaRequest) processing.

Also, I am not sure if this OS related, be

[2019-05-05 09:50] #23 closed

[2019-05-05 09:51] ImFlog commented on #21
@AmalVR the best way to see what could be wrong would be that you create a Github repository with all your files.
Maybe I missed something.

[2019-06-14 10:26] ImFlog opened #25 "Automatically generate classes from avro files"
Following the maven plugin, if the https://github.com/commercehub-oss/gradle-avro-plugin is present in the classpath, we should try to generate the classes from the local schemas.

[2019-07-10 12:46] cgraving commented on #18
I was able to finally able to resolve by putting the no proxy entry that mattered first in the list. Between gradle, and other systems it seems that some work with "," separation in the no proxy, some use "|" and putting the localhost first in the list worked for now.

[2019-07-10 13:37] ImFlog commented on #18
Glad to hear that :)

[2019-07-12 07:43] ImFlog commented on #21
It's been a month since my last comment.
Any news @AmalVR ? Else I'll close this issue as it seems to be something out of the plugin scope.

[2019-07-12 07:45] AmalVR commented on #21
Ya, you may close the incident. Thank you so much for your help.

On Fri, Jul 12, 2019, 1:13 PM Florian Garcia <notifications@github.com>
wrote:

[2019-07-12 08:52] ImFlog commented on #21
My pleasure. Do not hesitates if you have any new issue ;)

[2019-07-12 08:52] #21 closed

[2019-08-23 15:05] darrenhaken opened #26 "Old versions of schema are being deleted"
I have seen a strange behaviour whereby old versions of our schema have vanished from the schema registry.

How does this plugin increment the version? Is there a way it might have overwritten old versions?

[2019-08-26 07:57] ImFlog commented on #26
Hello thank you for using the plugin :)
The plugin has no mechanism for deleting stored schemas. The versions are increment automatically by the schema registry when you register one under the same subject.

My guess on your issue is that the retention set on your topic has passed and so your schemas have been deleted (the schema registry uses Kafka as a storing mechanism). You probably want to pu

[2019-08-31 10:42] darrenhaken commented on #26
@ImFlog thanks for the answer, I think you've nailed it!

[2019-09-02 07:19] ImFlog commented on #26
I'm closing this then ;)

[2019-09-02 07:19] #26 closed

[2019-09-27 13:29] brunodomenici opened #29 "Error trying to use plugin"
Hi,

I'm getting the erro when add this plugin:

[code]
I've tried to add the dependency `implementation "io.confluent:kafka-schema-registry:5.0.0"`and worked fine.

Any ideas?

Thank you.

[2019-09-30 07:14] ImFlog commented on #29
Hello, thank you for the interest in this plugin.
To be able to resolve `io.confluent` packages, you need to have the associated repository in your buildscripts. Something like:
[code]
If that doesn't help, could you please provide your build.gradle configuration ?

[2019-10-01 08:47] brunodomenici commented on #29
That worked!
Thanks a lot and congrats for the project!

[2019-10-01 08:47] #29 closed

[2019-11-04 10:21] marascha opened #30 "Question/Feature Request | Downloading specific schema versions"
Hi, first of all, thank you very much for your awesome work!
I have a question regarding the 'download' task: The task downloads the latest version of the schema per default which is an expected behaviour. Nevertheless, in my usecase I need to download older schema versions as well and was wondering if this is possible. I was not able to find a hint how to do that in the documentation. Supporting

[2019-11-05 09:02] ImFlog commented on #30
Hello,
Thank you for your interest in this plugin.
You are right, currently it is not possible to download a specific version but I could add that.
There is two way to fetch a particular version:
* Using the subject + the id
* Using the subject + the version

I will take a deeper look and come back to you soon.

[2019-11-14 12:49] ImFlog commented on #30
I have something that seem to work but just to be sure, you are interested in something like this @marascha :
[code]
where 1 is the version of the schema you want to fetch, not the globally unique identifier generated for a given schema ?

[2019-11-14 13:21] marascha commented on #30
Great news.
My goal at the end of the day is to be able to download all available schema versions for a given subject.
so I either need to
- loop over versions and download them one by one using the new download method you described above or
-  the download methods offers me the possibility to download multiple versions at once. Something like  subject('test-subject', 'src/main/avro/test', true),

[2019-11-16 13:31] dilipsundarraj1 opened #31 "Plugin fails to pull "kafka-schema-registry-5.0.0""
Hi,

First of all thank you so much for your effort to support the schema-registry in gradle.

I am afraid that by adding the below config, I am getting an error message and I am not able to proceed forward.
[code]

**Error Message:**
[code]
Reason being the **kafka-schema-registry:5.0.0** is not available and I see only **5.2.1**.

You can check the same in the below link.
https://mvnrepository.c

[2019-11-17 21:57] ImFlog commented on #31
Hello, thank you for your interest in this plugin.
In order to fetch the confluent library, you need to add their repository in your buildscript like so:
[code]

You are not the first one having trouble with this. I will keep this ticket the time for me to change the README to specify this explicitly.

[2019-11-19 13:27] #30 closed

[2019-11-19 13:27] #31 closed

[2019-11-19 13:30] ImFlog commented on #30
It has been automatically closed by #32.
I will release a new version very soon and keep you updated.

[2019-11-21 12:20] ImFlog commented on #30
The version 0.8.0 has been released, please try it and do not hesitate to create a new issue if something fails. @marascha

[2019-11-21 12:25] ImFlog opened #33 "Simplify release process"
Right now version bump and release is manual, we need to change that.
We could use a github action to do so ?
It would also be great to add the generated packages to the github repository ([like this](https://help.github.com/en/github/managing-packages-with-github-packages/configuring-gradle-for-use-with-github-packages))

[2019-11-22 10:44] marascha commented on #30
Thank you very much. It works like a charm

[2020-02-27 21:11] rymanske opened #34 "Use Gradle's task configuration avoidance API"
I'd like to propose migrating to Gradle's task configuration avoidance as outlined [here](https://docs.gradle.org/5.6.4/userguide/task_configuration_avoidance.html).

I'm trying to check compatibility of schemas that have been generated from Avro IDL files using [davidmc24/gradle-avro-plugin](https://github.com/commercehub-oss/gradle-avro-plugin).

Currently all plugin configuration in the `schema

[2020-02-28 07:15] ImFlog commented on #34
Hello,

Thank you for your interest in this plugin. I didn't knew about this feature (probably wasn't here when I first created the plugin).
This sound interesting and I will try to migrate the plugin to this new API (probably start to hack this during the weekend) but if you are willing to, PR are welcome :)

Also, I am very interested about the gradle-avro-plugin as it is something i wanted to p

[2020-02-29 05:32] rymanske commented on #34
Thanks for your response!

What I've been working on isn't open source, but I put together [this example](https://github.com/rymanske/schema-registry-plugin-compatibility-sample) that demonstrates how I'm using the two plugins.

I'd be happy to contribute when I have time this week.

[2020-03-10 16:13] rymanske commented on #34
I played around with this a bit and I think I was misunderstanding the way this Gradle feature worked. It won't stop things like the creation of a `fileTree` outside of the plugin from executing immediately. I

To do what I want, something like this is more appropriate:
[code]

 [This documentation](https://docs.gradle.org/5.6.4/userguide/lazy_configuration.html) on lazy configuration was helpful.

[2020-03-17 09:17] ImFlog commented on #34
To be honest I've not yet had time to take a deeper look, but I will !
If in the meantime you want to hack a PR that shows what you want to do It would be great !

[2020-03-23 11:12] lrosol-wr opened #35 "Unable to pass configuration as parameters"
Hi,

I would like to pass configuration for task testSchemasTask from the command line:
[code]

Or maybe there already exists any other mechanism for injecting the configuration?
I also tried to decorate task with sth like that:
[code]
But it also doesn't work. Gradle cannot resolve testSchemasTask. Could you give some advice?

[2020-03-24 17:19] ImFlog commented on #35
Hello, thank you for the interest in this plugin.

I tried very quickly locally and it seems that there is indeed something not working.
In a way I think it is related to the task #34 because the task is created to early and thus parameter can't be used (just a quick thought).
The mentioned task will require some big refactoring I need to find some time soon.

[2020-03-24 17:55] ImFlog commented on #35
Forget what I just said, I found a way to add this behavior using [LazyConfiguration](https://docs.gradle.org/current/userguide/lazy_configuration.html).
I successfully passed the url using a system property, I will do the same for the other properties and check that everything is still working well.

[2020-03-25 22:36] ImFlog commented on #35
I just pushed a branch named feature/lazy_configuration, can you try if it works for you on it ?
For example you can use something like this:
[code]
And then pass the variable like this `./gradlew -PtheUrl="http://localhost:8082/" registerSchemasTask`.

[2020-03-25 22:40] ImFlog commented on #34
Ok I finally found time to work on this issue, I use the register method and lazy properties so you should be be able to use avro outputs as input in the tasks.
Can you try to build the plugin locally and see if it fits ?
If so I will release this new version soon. It's a pretty big refactoring but I'm happy for with the result :)

[2020-03-26 10:43] leosilvadev opened #36 "Plans to add sync/cleanup behaviour of subjects"
Hi, this is more like a question.
Is it in the plans of the plugin to support some sort of way to sync the subjects? By that I mean: when we deprecate a Subject (like migrated to a new structure), so being forced to remove the deprecated ones manually (or doing a script apart from the plugin).

[2020-03-26 10:44] leosilvadev commented on #36
If this is a possible feature for the plugin, let me know. I can also help with the implementation

[2020-03-26 17:42] ImFlog commented on #36
Hello, thank you for the interest in this plugin.
I am not sure to understand what you mean by `a way to sync the subjects`.
Do you mean a task that retrieves all the Subjects available in a given registry ?

[2020-03-27 08:31] lrosol-wr commented on #35
Thank you for engagement. I will try build plugin locally and test it.

[2020-03-27 14:09] leosilvadev commented on #36
So, by that I mean:
Retrieve all the subjects and compare to the subjects I have configured locally, the new ones will be added/updated as they are now and the ones that exist in the registry but not locally would be deleted.

This is currently one issue on my side since we are migrating a lot of events and we need to remove the old ones at some point.

[2020-03-28 21:58] ImFlog opened #37 "Add plugin usage examples"
It would be good to have a directory with usage of the plugin (in Kotlin or Groovy):
* The basic usage
* Overriding version of the schema-registry client

[2020-03-30 19:03] ImFlog commented on #35
I've just released the version 0.9.0 on the plugin portal, as it seems to work for you I'll close this issue.
Do not hesitate to recreate an issue in case of trouble.
Thanks

[2020-03-30 19:03] #35 closed

[2020-03-30 19:16] ImFlog commented on #36
Are you planning to run this "sync" task only once ? If so a standard script (python / bash) could do the trick.

If not, I think that if we implement a "removal" task, you could play with the all the download/register/remove and achieve what you want:
* download all schema in a directory
* for each downloaded schemas, build your removal / insert lists by comparing with what you have locally in an

[2020-03-30 19:55] ImFlog commented on #34
@rymanske, I've just released the version 0.9.0. Can you check if your use case fits ?
Also I'm planning to add an example directory, if your use case work could you submit a PR with the schema registry + avro plugin ?

[2020-03-30 19:57] ImFlog commented on #25
After some thinking, I think we should use the dedicated [gradle-avro-plugin](https://github.com/davidmc24/gradle-avro-plugin)

[2020-03-30 19:58] #25 closed

[2020-03-30 20:02] leosilvadev commented on #36
I think it could be simpler, at least from what I would need.
We could just check whether a subject is still marked to be registered or not, in case it is not, it will be removed.

Not sure if this makes sense for all the cases, but from my case this is how it works:
- we maintain all the schemas in one repo, so this is the source of truth
- we run our ci/cd pipeline to register the schemas when w

[2020-03-30 20:07] ImFlog commented on #14
Same a #25 use the dedicated [gradle-avro-plugin](https://github.com/davidmc24/gradle-avro-plugin)

[2020-03-30 20:07] #14 closed

[2020-04-01 15:02] ImFlog commented on #36
I don't think we will add this for multiple reasons:
* The use case is a bit too specific to be generalized in this plugin
* I don't really want to add the DELETE schema call, it should be handled with care and the Gradle plugin (as the maven one) is not the place for this IMHO

Still, I've just noticed that the DownloadSubject in the Maven plugin support regexp, I guess I could update the task to

[2020-04-11 23:35] rymanske commented on #34
Hi, sorry for the delay and thanks for your help. I made [an update](https://github.com/rymanske/schema-registry-plugin-compatibility-sample/commit/c0a90360922ba86c15111180defa22716e85dc4e) to my example code so that it works with the new version. I think I originally misunderstood what lazy configuration could do, so now that I understand how it works, I think this way of configuring the plugin i

[2020-04-13 12:51] ImFlog commented on #34
I don't understand why you need to create a new task with the doFirst part in your example.
Can you elaborate on this ?
Anyway I want to add basic example like generating avro classes from the registry using this plugin and the avro one.

I close this task if the current implementation suits you. answer there anyway so I can understand better :)
Thank you for you input!

[2020-04-13 12:51] #34 closed

[2020-04-13 12:53] ImFlog commented on #36
I'm closing this as I stated I think you use case is very specific.
Thank you for your input and do not hesitates to create another issue for anything :)

[2020-04-13 12:53] #36 closed

[2020-04-13 21:58] rymanske commented on #34
I found that when configuring a task, everything outside of a `doFirst` or `doLast`is evaluated before any tasks are executed. So for my example this means that if I run the `build` task, without the `doFirst`, the `schemaRegistry` closure is evaluated and we look for Avro schemas in the build dir. After that, the `build` task will run. The `testSchemasTask` won't do anything, since the build dir

[2020-04-14 17:29] ImFlog commented on #34
I think that was the case before the lazy property usage.
Now while you are not calling the task, the properties are not evaluated so I think the doLast is not required anymore.
Can you try that ?

[2020-07-10 10:37] gustavomonarin opened #39 "Protobuf support"
Any plans to support protobuf and json schema (from confluent platform 5.5+)?

[2020-07-10 11:49] ImFlog commented on #39
Hello,
I learned about this new feature yesterday and tried the version upgrade as is. But it failed because of a missing dependency.
First step will be to fix it so people can still use the plugin for Avro schema, then I will think about how to add the other schema types.
Will probably start next week.
Thanks for the interest 😉

[2020-07-10 12:44] gustavomonarin commented on #39
Awesome, thank you for so fast reply.

I had checkout the plugin code and saw that the project is using org.apache.avro.Schema directly for the parsing. In the maven plugin they use the idea of [providers](https://github.com/confluentinc/schema-registry/commit/1b19d5e35b9bb6272ddad1f95a5effe479de3a9b#diff-4b8d0ed6216ecaefec578d01c4d8c4b4R87) which could make the code more flexible.

Please let me

[2020-07-11 01:29] tomasAlabes opened #40 "More information on incompatibility error?"
Hi, 1st thank you so much for your work on the plugin 🥇

I was wondering if the output of the `testSchemasTask` is correct or if it's missing something, as it gives no information on the incompatibility found:

[code]
The logs don't say anything. I tried with `-i`, `--debug`, `--stacktrace`.

Is the confluent plugin output like this too? Or is this plugin missing to output something?

Thanks!

[2020-07-15 07:26] ImFlog commented on #40
Hello, thank you for the interest in this plugin and sorry for the late answer, I was on holidays :)
I've just checked the code and It seems that we do not log properly the error response from the schema registry:
[code]
I think we could log the schema registry exception message in the catch block instead of checking the error code only.

I will improve this by the end of the week and get back to

[2020-07-16 22:43] ImFlog commented on #40
I just take a look at this issue, can you try the code in the branch `feature/compatibility_errors` on your use case see if something better is logged ?
I fear that it won't help you that much as the schema registry library that's used returns a boolean, which means that if the schemas are not compatible, we won't know why (except for special cases where an exception is raised).
Maybe the Schema r

[2020-07-16 22:46] ImFlog opened #42 "Use testContainers for schema registry tests"
Currently the test rely heavily on Wiremock to fake responses. It's great for edge case scenarios but for common operation it would be better to use a real Schema Registry.
We could use https://github.com/testcontainers/testcontainers-java with the Kafka module to do so.

[2020-07-16 23:44] tomasAlabes commented on #40
Thanks for the work @ImFlog! It's ok, if the registry doesn't tell you the reason then you can't do much. I'll check it as soon as I can and let you know.

[2020-07-21 22:56] ImFlog commented on #37
Some sample are now available.
Now that the structure is available we will make use of it to add more example.

[2020-07-21 23:00] #37 closed

[2020-07-24 00:56] tomasAlabes commented on #40
I pulled the branch, built & published to maven local, changed the ref to `0.10.0-SNAPSHOT` and tried with incompatible change, and same log 😞

[code]

[2020-07-24 08:40] ImFlog commented on #40
Has i expected 😞
After some deeper research It turns out that the reason is not available for Avro in all cases, for JSON or Protobuf It would be possible to retrieve the error in a better way (not only by looking at logs on the server).
I created an issue on confluent side : https://github.com/confluentinc/schema-registry/issues/1551
I think I will not be able to fix your issue @tomasAlabes.

I s

[2020-07-26 19:51] #40 closed

[2020-08-11 19:58] ImFlog commented on #42
It seems that the module is not spawning a Schema-registry container. We will rely on testcontainer docker-compose.

[2020-08-13 17:12] ImFlog opened #46 "Automatically fetch last version of a reference during compatibility or register task"
In the 5.5.X versions, when have to add SchemaReferences when calling the compatibility task and the register task.
A schema reference requires that we pass a version to the registry.

That would be great if we could retrieve the latest version by default. See if we do It here or if we push the modification in the schema-registry API directly.

[2020-08-20 20:50] #39 closed

[2020-08-20 21:19] ImFlog commented on #42
Closed by #44

[2020-08-20 21:19] #42 closed

[2020-09-08 20:56] ImFlog commented on #46
After investigation, I found that if you pass `-1` as the version, it uses the last available version when resolving dependencies.
There is no need to change anything in our code base.

CC: @clatko-globe

[2020-09-08 20:56] #46 closed

[2020-10-26 08:13] ImFlog commented on #33
We could use conventional commit and  https://github.com/rustic-games/jilu to manage version number (see how to include that in our builds).

[2020-12-02 10:13] mehmetsalgar opened #49 "SSL Capablities of the Schema Registry Plugin"
I am using Maven version of the Schema Registry and our Schema Registry is not with Basic Authentication protected but SSL Certificates.

Normally we are delivering the SSL Certificate Parameters with -Djavax.ssl.trustStore and -Djavax.net.ssl.trustStorePassword but it seems they have no effect on the Gradle Plugin.

Then I debugged the SchemaRegistryClient from Confluent and I discoverd that it n

[2020-12-02 10:40] ImFlog commented on #49
Hello @mehmetsalgar thank you for the interest in the plugin.
I indeed think there is a missing piece.
This should be straightforward, add properties to the SchemaRegistryExtension and use them in the restClient.
The hardest part for me will be to start the schema registry with SSL enabled to test this ([this might help](https://github.com/Pierrotws/kafka-ssl-compose)).
I keep you posted.

[2020-12-02 10:47] mehmetsalgar commented on #49
I manipulated the SchemaRegistry Client and Gradle Plugin Code during Debug Session, when the parameter

ssl.truststore.location
ssl.truststore.password
ssl.keystore.location
ssl.keystore.password

are in the Config Map, the SSL connection works....

A side note, when we are using this configuration

`download {
            subject('xxx-value', "${project.name}/build/schema/avro")
            subj

[2020-12-02 23:39] ImFlog commented on #49
I've just added the support for absolute path but I didn't had time to look the SSL part yet (see opened PR).
I think I will be able to get this done at the end of the week.

[2020-12-09 21:03] ImFlog opened #51 "Limit scope of the extensions"
During development, I found that the extensions are not scoped to the schemaRegistry one.
We need to change this for the plugin to co-exists with other plugins.

[2020-12-12 12:24] mehmetsalgar commented on #49
Hi, any idea when you can publish SSL extension, I see that you made the changes. I plan to use the plugin in a Production project but I need the SSL capablities. If you can release it as SNAPSHOT or so, I can test the changes (I guess it will be difficult to build that test setup for you).

[2020-12-12 13:40] ImFlog commented on #49
Hi,
I've just pushed the version 1.1.0-SNAPSHOT in the Gradle plugin portal. Please tell me if you find any issue.
I will try to start setting up tests tomorrow If I find the time. Then I will need to update the examples / add documentation.

[2020-12-12 17:03] ImFlog commented on #49
I rolled back the move to version 11. Java 8 is once again the target. You should be able to try again.

[2020-12-12 19:37] mehmetsalgar commented on #49
Is this the correct way to populate new ssl property

`ssl {
       ["ssl.truststore.location": "test"]
}`

when debug  CachedSchemaRegistryClient Line 170 config maps arrive empty....

[2020-12-12 20:25] ImFlog commented on #49
The configuration looks like:
[code]
The config keys needs to come from : `org.apache.kafka.common.config.SslConfigs`

[2020-12-12 20:38] mehmetsalgar commented on #49
Ok, thx for the tip...I got that part working, but as mentioned in the previous post, Schema Registry Client need as prefix..

public static final String CLIENT_NAMESPACE = "schema.registry.";

After you validate the entries against SslConfigs, you have add the keys in the map with this prefix, otherwise they are ignored by SslFactory...

[2020-12-13 01:56] ImFlog commented on #49
Just pushed another version, I added the prefix and forced the map as <String, String>. Hope that will work. I have tried a bit to start the container in my tests with SSL but still not working (yet). So I am still blind regarding the development.

[2020-12-13 09:30] mehmetsalgar commented on #49
Ok, I tested again and now everything works perfectly....

Thx for your help at the Weekend 👍

When are you planing to do  a release version?

[2020-12-13 16:39] ImFlog commented on #49
I think I am close. Hopefully I will release before the end of next week.

[2020-12-15 00:20] ImFlog commented on #49
I've just added the examples and the integration test.
I will update the documentation tomorrow in the evening. If I find enough time I should be able to release afterward.

[2020-12-15 21:21] #49 closed

[2020-12-17 13:26] mehmetsalgar commented on #49
Thx you very much for your help....

[2020-12-30 21:30] #51 closed

[2021-02-02 18:06] trevmex opened #54 "Switching schema registries with build flag"
Hello! I love this plugin, BTW! Thank you for making it!

One feature I am interested in is the ability to switch schema registries depending on which environment I am in (using something like a gradle project property).

(Please excuse my lack of gradle file formatting, this is just a pseudocode idea.)

What do you think?

[code]

[2021-02-02 22:53] ImFlog commented on #54
Hello, thank you for the kind words about the plugin :)
I think your use case can be handled using environment variables or gradle / systems properties (see https://docs.gradle.org/current/userguide/build_environment.html)
In the context of the schema registry that would look like this:
[code]
And then when you run your command you would do something like: `$ gradle -PregistryUrl='http://stageUrl:

[2021-03-07 18:38] ImFlog commented on #54
Since I've not received any response for a month, I'll close this. Do not hesitate to comment or open another issue if it's not working for you 😉

[2021-03-07 18:38] #54 closed

[2021-04-21 10:00] denisw opened #57 "addReference() doesn't fully replace previous dependencies feature"
Before version 1.0, it was possible to split an Avro schema into multiple files and pass all of them to a single `subject()` call in the `register` block.

The `addReference()` DSL method is meant to replace this, but it only works if the external reference is registered as a standalone subject in the Schema Registry. This is not the case in many of our uses, where we simply move the definition of

[2021-04-23 16:26] ImFlog commented on #57
Hello @denisw,

hank you for your interest in the plugin.
Do you have a sample project where I can reproduce the issue (or even better fill a PR with the error in a test) ?
I am pretty short on time currently and that would speed up the fix process :)

I think I will also need to check if it's still possible on the schema registry side as It changed with the arrival of JSON and Protobuf support (w

[2021-04-27 21:31] soumyajit-sahu opened #58 "Failed to upgrade from 0.8.0 to 0.9.0"
When I tried to upgrade from 0.8.0 to 0.9.0 and above, I get the following error-

An exception occurred applying plugin request [id: 'com.github.imflog.kafka-schema-registry-gradle-plugin', version: '1.2.0']

Could we have some guidance on upgrade? I did notice that SchemaRegistryExtension was refactored in 0.9.0.

[2021-04-28 08:26] ImFlog commented on #58
Hello @soumyajit-sahu,

The changes enforce that the extensions are all nested in the `schemaRegistry { }` block. Before that the plugin allowed you to define the various block anywhere in your build configuration (for instance `download {}` didn't had to be nested).
So If you followed the README, nothing has changed :)

If It still doesn't solve your issue, can you provide a redacted version of y

[2021-04-28 21:17] soumyajit-sahu commented on #58
Hello @ImFlog , thanks for looking into this issue.

Here is the redacted version of our build.gradle which works with version 0.7.0 and 0.8.0.
We use
`com.commercehub.gradle.plugin:gradle-avro-plugin` too, but I have removed that reference from the below.

buildscript {
    ext {
        gradle_avro_plugin_version = '0.17.0'
    }
    repositories {
        jcenter()
        mavenCentral()

[2021-04-29 10:20] ImFlog commented on #58
It may probably comes from the fact that the 2 plugins DLS are mixed in your configuration (See https://plugins.gradle.org/plugin/com.github.imflog.kafka-schema-registry-gradle-plugin/0.9.0). As you need to define the buildscript, you need to use the legacy DSL and thus use the apply plugin line.
This lead to something like this:
[code]
And it works well like this.
Does it solve your issue ?

[2021-04-30 19:14] soumyajit-sahu commented on #58
Thanks @ImFlog for taking a look at this. That didn't help, but I did notice that we see this error only with gradle 4.10.2, but not with the latest (7.0) gradle version.
We have had other things failing with gradle 7.0, so it will take me time to debug through those.
I will close this issue as it is likely user error on our behalf.

Appreciate your support :)

[2021-04-30 19:14] #58 closed

[2021-04-30 21:44] ImFlog commented on #58
Glad you understand better what's wrong.
The example directory works with gradle 5.6, It could be easier to migrate :)
Good luck

[2021-05-02 13:40] ImFlog commented on #57
@denisw I've just checked a bit more the code.
All the methods that deals with Schema in the recent version needs a SchemaReference list (to parse, to register ...).

The SchemaReference looks like this:
[code]
As you can see we cannot pass the schema directly in it. I don't know if It would be worse to create an issue on the Confluent Schema Registry repository to support this kind of use case.

[2021-05-02 16:21] denisw commented on #57
@ImFlog Sorry for the late reply, and thanks for looking into this more!

My use case would not require any schema references on the remote side. I was really just looking for the previously supported feature where dependencies between Avro schema file were resolved locally and inlined before sending to Schema Registry - that is, the functionality introduced in #13.

Maybe that is still supported

[2021-05-05 16:26] ImFlog commented on #57
I think it's possible to add references locally and then send the request with the schema containing all it's dependencies in one go.
Doing it for Avro mean we need to doing It for Protobuf and JSON too (if possible) and thus import the Json / Avro / Protobuf library used for parsing. The thing I don't like by adding required libraries is that it needs to be imported manually by user (but I may mi

[2021-05-06 06:12] denisw commented on #57
Sounds good! Regarding the need for the serialization libraries of each data format, I can see three options:

* Add `compileOnly` dependencies, requiring the user to depend on the needed libraries themselves
* Add `implementation` dependencies, but then everyone gets the libraries of all schema formats, whether needed or not
* Somehow create multiple [plugin variants](https://docs.gradle.org/curr

[2021-05-11 07:30] ImFlog commented on #57
I'm going on vacations for 3 weeks starting tomorrow and unfortunately I was not able to find time to work on this before.
I will start as soon as I get back. Sorry for the delay.

[2021-05-11 09:52] Slav4ik opened #59 "CompatibilityTaskAction - Option to only log errors"
We are running the compatibility test for a large repository of schemas.
The compatibility task creates many "non informative" log lines when schema is compatible.
I'd like to be able to decide if I want to see all logs or only logs for failure.

Specifically these 2 lines:
https://github.com/ImFlog/schema-registry-plugin/blob/ec01a72d000bd1f25d5ad4f08be5126123fd0631/src/main/kotlin/com/github/imf

[2021-05-11 10:39] ImFlog commented on #59
Hello, thank you for using the plugin.

Could changing the log level globally be a fix for you ? https://docs.gradle.org/current/userguide/logging.html#sec:choosing_a_log_level

Currently it's not possible to change the log level task by task (or even by package like we usually do in Java) see https://github.com/gradle/gradle/issues/1010

[2021-05-13 07:36] Slav4ik commented on #59
Thank you for the great plugin, and for your quick response.

Globally I wouldnt like to turn off log levels as I do want visibility of the whole process.
Maybe a solution in the form of - exposing a configuration in the task, like "verbose" logging?

[2021-05-16 19:34] ImFlog commented on #59
Given the previous link I think this approach makes sense.
I am currently in holiday so I cannot work on this, if you feel like creating the pull request it would be great, else I will do this in more than two weeks.

[2021-05-27 18:48] briancullen opened #60 "Use of Regex to Allow Downloading of Multiple Schemas"
I was trying to use the plugin and one area that seemed a little cumbersome is that if you want to download a number of different schemas you have to list them all individually. As an improvement what do people think about being able to use a regex to specify the subject that we want to download?

I have created a simple change that supports this and will turn it into a PR in a few minutes to show

[2021-06-01 16:36] ImFlog commented on #60
Hello @briancullen and thank you for the interest in the plugin.

This seems to be a reasonable use case for schema download, I will take a look at your PR probably this week. Sorry for the delay I was on holidays :)

About the mentioned points :
1. Maybe we could check the regexp when we define it instead of when we start the download action and return an error if the pattern is invalid ? This se

[2021-06-03 19:26] briancullen commented on #60
Hello and thanks for the response.

I will take another look at the code when I get a chance, unfortunately I haven't been on vacation but this week has been a little busy. To be honest I didn't want to spend too much time on it until I knew if it was likely to be accepted.

Let me know if you have any other feedback.

[2021-06-03 20:19] ImFlog commented on #59
I am back !
After reading again your first message it seems that you want to remove the error logs too ?
If so, the `verbose` could be set to `true` by default (to keep current behavior) and set to `false` to disable all the logs messages.

Would it work for you ?

[2021-06-03 20:32] ImFlog commented on #60
No worries,
I took a look at the PR just now, you can find my remarks there. Should be good to be merged soon enough.

[2021-06-25 12:50] ImFlog commented on #60
Released in 1.3.0 :)

[2021-06-25 12:50] #60 closed

[2021-07-09 20:25] #59 closed

[2021-07-09 20:26] ImFlog commented on #59
Available in 1.4.0.

[2021-07-09 20:40] ImFlog commented on #57
Sorry for the long delay.
This task is next on my Todo !

[2021-07-13 13:41] nikoncode opened #63 "unable to build project when plugin is set"
When I enable schema registry plugin it breaks build of my project with exception:

[code]

Plugins section:
[code]

Repository settings:
[code]

Most likely it happens because I am trying to resolve plugin using `plugin` keyword from gradle repository.

Gradle version: 6.9
Plugin versions checked: 1.4.0 & 1.3.0

[2021-07-15 17:10] ImFlog commented on #63
Hello @nikoncode,
Are the repositories that you mention in the `buildscript` block ?
Something like:
[code]

[2021-07-15 20:33] nikoncode commented on #63
Yeah, that works

[2021-07-15 20:33] #63 closed

[2021-07-15 20:36] nikoncode opened #64 "specify file name for downloaded protos"
It might be useful to specify a name for the downloaded protos as well as a path (already implemented).

[2021-07-15 20:39] nikoncode opened #65 "automatically download/upload references for protos"
It might be useful for download to automatically fetch all available references (it might works for upload, but implementation will be much harder)

[2021-07-15 20:42] nikoncode commented on #64
This is actual use case for us, cause we use this plugin to download protos and then generate classes for java and python. And standard naming convention doesn't works.

[2021-07-21 15:39] ImFlog commented on #64
I think this is a good idea.
This should be fairly simple for most of the case but It will not work for regexp download as we cannot put everything in the same file.
Do you want to submit a PR ? Else I can try to work on this during the weekend.

[2021-07-21 15:43] ImFlog commented on #65
Hi @nikoncode, I am not completely how that would be possible.
How do you see this feature, should we download the subject and then parse it's content to understand that a reference is needed to then download it ? If yes, that seem a bit hard to do before #57 that will bring parsing library to the plugin (for JSON / Avro and Protobuf).

If you have any other implementation idea in mind I'd be glad

[2021-08-10 21:02] ImFlog commented on #64
I've finally found time to work on this.
I will hopefully merge this and release a new minor version thursday.

If it works for your use case @nikoncode tell me ;)

[2021-08-13 16:24] #64 closed

[2021-08-13 16:45] ImFlog commented on #64
It's available in 1.5.0

[2021-09-20 09:32] dejank1986 commented on #57
Any update on this? We are using the plugin in the same way, we do not need internal schema references to be registered remote.

[2021-09-21 16:45] ImFlog commented on #57
Hello @dejank1986, I just had a child and thus I didn't had much time to work on this. As this is not a quick fix I need to try to find more time but I did not start the design / implementation yet.
Hopefully I will have more time soon and once again I am sorry for the delay.

[2021-10-01 23:49] ImFlog commented on #57
Good new @denisw and @dejank1986, I took some time to look at this.
I have some leads that could allow me to do the implementation without the need for additional dependencies.
If we append the schemas to the base one (in a single file) it seems to be registered correctly.
I have to do some fix around protobuf (as I need to stripe the headers) and validate that It works correctly in a real use cas

[2021-10-02 08:20] denisw commented on #57
@ImFlog That’s great to hear! Thank you so much for working on this. :) I am happy to test the PR in one of our production codebases, though I must admit that I never have installed a Gradle plugin from source, so I’d need to figure this out first.

[2021-10-05 08:06] dejank1986 commented on #57
@ImFlog Great! Looking forward to new plugin release! :)

[2021-11-02 17:16] ImFlog commented on #57
Good news @denisw  @dejank1986, I don't know if you saw the PR changes but I have something working for AVRO (still need to check for Protobuf and Avro).
I will clean a bit the code and then I will probably release a snapshot version (that you will be able to test before the release).
Then I will open separate issues for Protobuf and Json.

[2021-11-03 07:45] denisw commented on #57
@ImFlog Amazing! 🎉 Thank you so much for your continued work on this, despite all of the hurdles. It’s very appreciated. 😃

I’ll give it a spin in our projects as soon as the snapshot version is available. 👍

[2021-11-05 23:27] ImFlog commented on #57
Okay one last issue, I was polishing the PR and I even released a version to give it a spin on the example folder.
Turns out that my current implementation does not allow remote and local reference to be used in the same register / compatibility call.
Avro yells because it doesn't know the remote types.

The only thing I can think of is to fetch the remote references and inline the whole schema be

[2021-11-07 21:18] denisw commented on #57
@ImFlog I think this is a perfectly fine limitation. I don't expect us to mix local and remote references; in fact, it might be a good idea to explicitly not support this mixing for the same subject to avoid surprises.

[2021-11-29 22:58] ImFlog opened #76 "Handle local references for JSON"
As in #71 but for JSON.

[2021-11-29 22:58] ImFlog opened #77 "Handle local references for Protobuf"
As in #71 but for Protobuf

[2021-11-29 23:00] ImFlog opened #78 "Mix Avro local and remote dependencies"
For now we cannot mix local and remote dependencies.
If we use an ordered structure, we might be able to overcome the fact that some local dependencies may need a remote one and vice-versa.
That would requires some fetch using the registry before the global parsing (doable with the client).

[2021-11-29 23:06] #57 closed

[2021-11-29 23:29] ImFlog commented on #57
It's finally here, the version 1.6.0 include the localReference support for AVRO.
I've created separated tickets for JSON and Protobuf.
As discussed together, it is for now not possible to mix local and remote references but It should be doable in the future (thus another ticket).

It took 2 month to fix, sorry for the delay. I will try to implement the other types faster :)

Do not hesitate to re

[2021-11-29 23:31] ImFlog commented on #65
As i've not received any sign on this issue, I will close it (I already have a bunch awaiting).
If you have any other idea / a clearer use case do not hesitate to reopen it.
Thank you.

[2021-11-29 23:31] #65 closed

[2021-11-30 07:22] dejank1986 commented on #57
@ImFlog Great! 🎉🎉🎉 Thank you for pushing this! I will try it out in next days for sure.

[2022-07-18 20:37] ImFlog opened #95 "Run IT on multiple Kafka versions without code duplication"
By using the newly created KafkaHelper, we should be able to run the Integration test in a separate Gradle task and run with an env variable that specify the Kafka version.
We should at least run tests on versions 5, 6 and 7

[2022-07-25 07:16] #95 closed

[2022-09-21 08:10] georgevad opened #101 "Enhance RegisterSchemasTask to print/save the IDs of the published schemas"
When running the `registerSchemas` task no information about the IDs is printed/saved to a file for the published schemas and this is useful for configuring the event producer that uses the respective schemas.
We can get the id by querying the latest, but when publishing an older version of the schema the id no longer corresponds to the latest version.

[2022-09-28 20:12] ImFlog commented on #101
Hello @georgevad,
Thank you for being interested in this plugin. This is indeed something that I didn't think about.
I think I will log the updated id as well as the creating an outputFile in the register task.

[2022-10-01 23:17] #101 closed

[2022-10-01 23:35] ImFlog commented on #101
Hi again @georgevad,
I've just released 1.7.0 that contains the new feature. If you have any problem with it, please open a new issue :)

[2022-10-17 20:18] ImFlog commented on #78
This is probably not an ordering question in fact. If we treat the Avro file as a JSON, we could inline the local references and pass it to the schema registry as usual for remote dependencies resolution.

[2022-10-17 20:55] #76 closed

[2022-10-20 16:26] toolkit opened #105 "Querying multiple registries"
Hi there.

The maven plugin which this adapts supports specifying multiple schema registries.

https://docs.confluent.io/platform/current/schema-registry/develop/maven-plugin.html#schema-registry-test-compatibility

Is this also available with this plugin?

Thanks.

[2022-10-21 19:14] ImFlog commented on #105
Hello @toolkit,
This is not possible at the moment but this is indeed a valid use case.
Let's keep this issue to follow the developments.
OFC if you want to give it a go I'll be glad to guide you, else I'll tackle this after my holidays 😉

[2022-11-04 17:38] ImFlog commented on #105
Ok, after taking a look at the confluent maven plugin documentation (https://github.com/confluentinc/schema-registry/blob/master/maven-plugin/src/main/java/io/confluent/kafka/schemaregistry/maven/DownloadSchemaRegistryMojo.java), it seems to be pretty easy to add.
What bothers me is the download case, if the schema is available in two registry, only one file would be retrieved and in case of lates